@import './../../../App.scss';

.features-section {
    .features {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

        @media screen and (min-width: $sm) {
            flex-direction: row;
            margin-top: -50px;
        }
    
        .feature {
            background-color: $orange;

            img.center {
                display: block;
                margin-left: auto;
                margin-right: auto;

                @media screen and (max-width: $sm) {
                    width: 70%;
                }
            }
    
            .feature-text p {
                font-size: 15px;
                font-family: 'Roboto';
                font-weight: 300;
                
                @media screen and (min-width: $sm) {
                    font-size: 22px;
                }
            }

            @media screen and (min-width: $md) {
                padding: 1.5rem;
            }
        }
    
        @media screen and (min-width: $lg) {
            width: 80vw;
        }
    }
}