@import './../../../App.scss';

header {
    .hero {
        background-color: $yellow;
        font-family: 'Barlow', sans-serif;
        height: 100vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (max-width: $md) {
            flex-direction: column;
        }

        .hero-text {
            width: 100%;

            @media screen and (max-width: $md){
                margin-top: 10vh;
            }

            h1 {
                font-weight: 700;
                font-size: 70px;
                color: $dark-blue;
                letter-spacing: 2px;
    
                @media screen and (max-width: $lg) {
                    font-size: 54px;
                }

                @media screen and (max-width: $md) {
                    font-size: 46px;
                }
            }
        
            h2 {
                color: $orange;
                font-size: 32px;
    
                @media screen and (max-width: $lg) {
                    font-size: 24px;
                }

                @media screen and (max-width: $md) {
                    font-size: 22px;
                }
            }
        }

        
        .image {
            img {
                width: 50%;
            }

            @media screen and (min-width: $md) {
                img {
                    width: 70%;
                }
            }

            @media screen and (min-width: $lg) {
                img {
                    width: 90%;
                }
            }
        }
    }
}