.hero {
    background-color: #f7c851;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-weight: 700;
        font-size: 70px;
        color: #413ada;
        letter-spacing: 2px;
    }

    h2 {
        color: #f47a62;
    }
}